---
import MainLayout from "../layouts/main-layout.astro";
import Intro from "../components/home/Intro";
import Servies from "../components/home/Services";
---

<MainLayout title="home page">
  <main class="">
    <Intro />
    <Servies/>

  </main>
</MainLayout>
