---
import MainLayout from "../layouts/main-layout.astro";
import Services from "../components/home/services.astro";
import Intro from "../components/home/intro.astro";
import ExtraInfos from "../components/home/extra-infos.astro";
import Reviews from "../components/home/reviews";
---

<MainLayout title="home page">
  <main>
    <Intro />
    <Services />
    <ExtraInfos />
    <Reviews client:load />
  </main>
</MainLayout>
