---
import { Image } from "astro:assets";
import LineImage from "../../assets/images/home/line.png";
import DoctorImage from "../../assets/images/home/doctor.png";
import HandImage from "../../assets/images/home/hand.png";
import Button from "../ui/Button";

import { ArrowRightIcon } from "lucide-react";
---

<section
  class="container py-20 mx-auto flex flex-col items-center justify-center"
  <h1
>
  <h1 class="text-4xl font-medium py-4">Check out our latest article</h1>
  <Image class="py-4" src={LineImage} alt="black line" />
  <ul
    class="py-4 pt-10 w-full max-w-screen-xl mx-auto justify-center flex flex-wrap gap-4 items-start"
  >
    <li class="shadow flex flex-col items-center rounded-xl w-[400px]">
      <Image src={DoctorImage} alt="doctor image" class="" />
      <div class="w-full max-w-[80%] mx-auto py-4">
        <h2 class="font-semibold text-xl text-gray-800">
          Disease detection, check up in the laboratory
        </h2>
        <p class="text-gray-600 py-4">
          In this case, the role of the health laboratory is very important to
          do a disease detection...
        </p>
        <a href="#" class="cursor-pointer">
          <button class="text-blue-500 py-2 flex space-x-4">
            <span> Read more </span>
            <ArrowRightIcon width={18} />
          </button>
        </a>
      </div>
    </li>

    <li class="shadow flex flex-col items-center rounded-xl w-[400px]">
      <Image src={DoctorImage} alt="doctor image" class="" />
      <div class="w-full max-w-[80%] mx-auto py-4">
        <h2 class="font-semibold text-xl text-gray-800">
          Disease detection, check up in the laboratory
        </h2>
        <p class="text-gray-600 py-4">
          In this case, the role of the health laboratory is very important to
          do a disease detection...
        </p>
        <a href="#" class="cursor-pointer">
          <button class="text-blue-500 py-2 flex space-x-4">
            <span> Read more </span>
            <ArrowRightIcon width={18} />
          </button>
        </a>
      </div>
    </li>

    <li class="shadow flex flex-col items-center rounded-xl w-[400px]">
      <Image src={HandImage} alt="doctor image" class="" />
      <div class="w-full max-w-[80%] mx-auto py-4">
        <h2 class="font-semibold text-xl text-gray-800">
          Disease detection, check up in the laboratory
        </h2>
        <p class="text-gray-600 py-4">
          In this case, the role of the health laboratory is very important to
          do a disease detection...
        </p>
        <a href="#" class="cursor-pointer">
          <button class="text-blue-500 py-2 flex space-x-4">
            <span> Read more </span>
            <ArrowRightIcon width={18} />
          </button>
        </a>
      </div>
    </li>
  </ul>
  <a href="#" class="pt-14">
    <Button
      className="px-[65px] bg-white text-blue-500 hover:bg-blue-500 ring-2 ring-blue-500 hover:text-white py-3.5 transition-all duration-200"
    >
      View All
    </Button>
  </a>
</section>
